
 <header>
            <h1>Task List Application</h1>
</header>
            <div id="whole">
                                <h3>Already an existing user!</h3>
							{{#link-to "login"}}Login{{/link-to}}
                            <h3>If you are a new User!</h3>
                            
                           {{#link-to "createaccount"}}Signup{{/link-to}}
						   
            </div>
			 {{outlet}}
            <footer>
               <span><h1>Thank you for visiting us</h1><h2 class="foot">Copyrights @ Task</h2></span> 
            </footer>

